*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

/* ===== HEADER ===== */
.fk-header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:12px 24px;
    background:#fff;
    border-bottom:1px solid #ddd;
}

/* LOGO */
.logo{
    display:flex;
    flex-direction:column;
    cursor:pointer;
}

.flip{
    font-size:22px;
    font-weight:bold;
    color:#2874f0;
    font-style:italic;
}

.plus{
    font-size:12px;
    color:#9e9e9e;
}

/* SEARCH */
.search-box{
    display:flex;
    align-items:center;
    width:45%;
    background:#f0f5ff;
    padding:10px 12px;
    border-radius:8px;
}

.search-box input{
    border:none;
    outline:none;
    background:transparent;
    width:100%;
    font-size:14px;
    margin-left:8px;
}

/* MENU */
.menu{
    display:flex;
    align-items:center;
    gap:25px;
}

.menu-item{
    font-size:14px;
    font-weight:500;
    cursor:pointer;
}

.category-bar{
    display: flex;
    justify-content: space-around;
    margin: 13px;
}

/* ITEM */
.cat-item{
    text-align:center;
    cursor:pointer;
}

.cat-item img{
    width:64px;
    height:64px;
    object-fit:contain;
    margin-bottom:6px;
}

.cat-item p{
    font-size:14px;
    font-weight:500;
    color:#000;
}

.cat-item span{
    font-size:12px;
}

/* HOVER EFFECT */
.cat-item:hover p{
    color:#2874f0;
}

/* ===== BANNER ===== */
.banner img{
    width:100%;
    height:auto;
    display:block;
}

/* ===== CONTAINER ===== */
.deals-container{
    display:flex;
    background:#fff;
    padding:20px;
}

/* ===== LEFT SECTION ===== */
.deals-left{
    flex:4;
}

.deals-left h2{
    font-size:22px;
    margin-bottom:20px;
}

/* PRODUCTS ROW */
.products{
    display:flex;
    gap:25px;
}

.product{
    width:150px;
    text-align:center;
}

.product img{
    width:100%;
    height:120px;
    object-fit:contain;
}

.product p{
    font-size:14px;
    margin:10px 0 5px;
}

.product span{
    font-size:14px;
    font-weight:bold;
}

/* ===== RIGHT BANNER ===== */  
.deals-right img{
    width: 265px;
    height: 320px;
}

.deals-right h3{
    font-size:22px;
    margin-bottom:10px;
}

.deals-right p{
    font-size:14px;
    margin-bottom:15px;
    color:#555;
}

.deals-right button{
    background:#2e7d6f;
    color:#fff;
    border:none;
    padding:8px 15px;
    width:120px;
    cursor:pointer;
}

.grid-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:15px;
    padding:20px;
}

/* ===== DEAL BOX ===== */
.deal-box{
    background:#fff;
    padding:15px;
    border-radius:4px;
}

/* HEADER */
.deal-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
}

.deal-header h2{
    font-size:18px;
}

.arrow{
    width:28px;
    height:28px;
    background:#2a55e5;
    color:#fff;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
    cursor:pointer;
}

/* PRODUCT GRID */
.deal-grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:15px;
}

/* CARD */
.card{
    border:1px solid #e0e0e0;
    padding:10px;
    text-align:left;
}

.card img{
    width:100%;
    height:140px;
    object-fit:contain;
    margin-bottom:10px;
}

.card p{
    font-size:14px;
    margin-bottom:5px;
}

.card span{
    font-size:14px;
    color:green;
    font-weight:600;
}

/* ===== INFO SECTION ===== */
.info{
    padding:30px 60px;
    background:#fff;
    color:#555;
}

.info h3{
    margin:15px 0;
    font-size:16px;
}

.info ol{
    margin-left:20px;
    line-height:1.7;
}

.info p{
    line-height:1.6;
}

/* ===== FOOTER ===== */
.footer{
    background:#212121;
    color:#fff;
}

/* FOOTER TOP */
.footer-top{
    display:flex;
    justify-content:space-between;
    padding:40px 60px;
    border-bottom:1px solid #444;
}

.col{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.col h4{
    color:#878787;
    font-size:13px;
    margin-bottom:10px;
}

.col a{
    color:#fff;
    font-size:13px;
    text-decoration:none;
}

.col a:hover{
    text-decoration:underline;
}

.address p{
    font-size:13px;
    line-height:1.6;
}

/* FOOTER BOTTOM */
.footer-bottom{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:15px;
    font-size:13px;
    color:#ccc;
}